name: Maven build, test and publish

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write  # Needed to publish to GitHub Packages

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build with Maven
        run: mvn -B clean package

      - name: List build artifacts
        run: ls -R target

      - name: Run tests
        run: mvn -B test

      - name: Upload build artifact to Actions
        uses: actions/upload-artifact@v4
        with:
          name: built-jar
          path: target/*.jar

      - name: Publish to GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_MAVEN }}
        run: mvn deploy --settings .github/workflows/settings.xml
